<div class="bg-success w-full align-bottom h-52 p-5 flex flex-col justify-center space-y-2">
  <a class="flex flex-row items-center space-x-4" href="https://vk.com/romabely98">
    <img src="assets\image\1233017_vk_icon.png" class="h-10 ">
    <p>https://vk.com/romabely98</p>
  </a>
  <a class="flex flex-row items-center space-x-4" href="https://t.me/Antarctica_V">
    <img src="assets\image\Telegram_logo.svg.png" class="h-10 ">
    <p>https://t.me/Antarctica_V</p>
  </a>
  <div class="flex flex-row items-center space-x-4">
    <img src="assets\image\icones-de-messagerie-blueue.png" class="h-10 ">
    <p>beliyroman&#64;outlook.com</p>
  </div>
</div>
