.webcam-container {
  border-radius: 15px;
  /* Выберите нужное значение радиуса скругления */
  overflow: hidden;
  /* Это важно, чтобы скругление углов работало */
  width: 100%;
  /* или конкретное значение ширины */
  height: 0;
  padding-bottom: 75%;
  /* замените это значение соответственно соотношению сторон видеопотока (обычно 4:3 или 16:9) */
  position: relative;
}
